<head>
    <meta charset="utf-8">
    <title>Laboratorios Clinicos</title>
    <meta name="viewport" content="=width=device-width, initial-scale=1.0">
    <link rel="stleshheet" href="sobre.component.css">
</head>

<nav>
    <ul>
      <label class="titulo">Laboratorios</label>
      <li><a [routerLink]="['/']">Inicio</a></li>
      <li><a [routerLink]="['/','sobre']">Sobre nosotros</a></li>
      <li><a>Estudios</a>
        <ul>
          <li><a [routerLink]="['/', 'biometria']">Biometría hemática</a></li>
          <li><a [routerLink]="['/', 'quimica']">Química 6 elementos</a></li>
          <li><a [routerLink]="['/', 'covid']">Covid-19</a></li>
          <li><a [routerLink]="['/', 'orina']">Orina</a></li>
          <li><a [routerLink]="['/', 'eses']">Eses</a></li>

        </ul>
      </li>
      <li><a [routerLink]="['/', 'contacto']">Contacto</a></li>
      <li><a [routerLink]="['/']">Nuevo</a></li>
    </ul>
  </nav>

<body>
    <img src="assets/img/sobrenosotrosimg.jpg">
    <div class="box">This box has a height and a width. This means that if there is too much content to be displayed within the assigned height, there will be an overflow situation. If overflow is set to hidden then any overflow will not be visible.</div>
    
    
</body>  
