label.titulo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav {
    background-color: #4058c4;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background-color: #312867;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #202670;
    padding: 0;
  }
  
  nav ul ul li {
    display: block;
    width: 200px;
  }
  
  nav ul ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav ul ul li:hover {
    background-color: #4431c2;
  }

  p{
    position: relative;
    text-align: center left;
    margin-top: 200px;
  }

  .box {
    border: 1px solid #333333;
    width: 200px;
    height: 100px;
    overflow: hidden;
    position: relative;
    text-align: center left;
    margin-top: 200px;
  }
      
  img{
    float: right;
  }